<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.chenchen.springdemo.dao.GirlMapper" >
  <resultMap id="BaseResultMap" type="live.chenchen.springdemo.pojo.Girl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="comingtime" property="comingtime" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="maxscore" property="maxscore" jdbcType="INTEGER" />
    <result column="minscore" property="minscore" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, comingtime, age, maxscore, minscore
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from girls
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from girls
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="live.chenchen.springdemo.pojo.Girl" >
    insert into girls (id, name, comingtime, 
      age, maxscore, minscore
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{comingtime,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{maxscore,jdbcType=INTEGER}, #{minscore,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="live.chenchen.springdemo.pojo.Girl" >
    insert into girls
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="comingtime != null" >
        comingtime,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="maxscore != null" >
        maxscore,
      </if>
      <if test="minscore != null" >
        minscore,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comingtime != null" >
        #{comingtime,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="maxscore != null" >
        #{maxscore,jdbcType=INTEGER},
      </if>
      <if test="minscore != null" >
        #{minscore,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="live.chenchen.springdemo.pojo.Girl" >
    update girls
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comingtime != null" >
        comingtime = #{comingtime,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="maxscore != null" >
        maxscore = #{maxscore,jdbcType=INTEGER},
      </if>
      <if test="minscore != null" >
        minscore = #{minscore,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="live.chenchen.springdemo.pojo.Girl" >
    update girls
    set name = #{name,jdbcType=VARCHAR},
      comingtime = #{comingtime,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      maxscore = #{maxscore,jdbcType=INTEGER},
      minscore = #{minscore,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="BaseResultMap">
		select * from girls
	</select>
	
	<select id="toUpdateByid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from girls
    where id = #{id,jdbcType=INTEGER}
  </select>
  <update id="doUpdateByid" parameterType="live.chenchen.springdemo.pojo.Girl" >
    update girls
    set name = #{name,jdbcType=VARCHAR},
      comingtime = #{comingtime,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      maxscore = #{maxscore,jdbcType=INTEGER},
      minscore = #{minscore,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>